/* 

#intro-div #lv1{
    position: absolute;
    height: 15vh;
    width: 2rem;
    background-image: url("../icons/custom-icons/incline 2.png");
    background-clip: content-box;
    background-size: fill;
    background-repeat: no-repeat;
    bottom: 0;
    left: 1%;
}

#intro-div #lv2{
    position: absolute;
    height: 20vh;
    width: 2rem;
    background-image: url("../icons/custom-icons/incline-angle.svg");
    background-clip: content-box;
    background-size: fill;
    background-repeat: no-repeat;
    bottom: 0;
    left: 5%;
}

#intro-div #lv3{
    position: absolute;
    height: 20vh;
    width: 2rem;
    background-image: url("../icons/custom-icons/incline 2.png");
    background-clip: content-box;
    background-size: fill;
    background-repeat: no-repeat;
    bottom: 0;
    left: 15%;
}
 */

 #redimage{
    
    background-color: "B30608";
/*     background-image: url("../images/image 17.svg");
 */ }